.football-field {
  background-image: url('https://t3.ftcdn.net/jpg/02/14/23/42/360_F_214234265_cw9c9yW4X04SNhoRyel1Kf9ZTEiqfKz7.jpg');
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  padding: 30% 30%;
  margin: 30px 30px;
  position: relative;
  top: 0;
  left: 0;
}

.player-icon {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: #3498db;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(5, 44, 8);
  position: relative;
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 100px auto;
  position: relative;
}

/* Optional: Add z-index to ensure the football field is behind other content in the container */
.container .football-field {
  z-index: 0;
}